    <header class="site-header">
      <div class="wrapper" style="font-family: 'Comfortaa';">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <nav class="site-nav">
          <div class="trigger">
            {%- for my_page in site.pages -%}
              {%- if site.headersite contains my_page.path && my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              {%- endif -%}
            {%- endfor %}
          </div>
        </nav>
      </div>
    </header>
