  <head>
    <title>{% if page.title %}{{ page.title | escape }} &#47; {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta content="text/html;charset=UTF-8" http-equiv="content-type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.title }}">
    <meta name="twitter:creator" content="Satoru Kawahara"> {% if page.title %}
    <meta name="twitter:text:description" content="{{ page.title }}">
    <meta name="twitter:title" content="{{ page.title }}"> {% else %}
    <meta name="twitter:text:description" content="{{ site.title }}">
    <meta name="twitter:title" content="{{ site.title }}"> {% endif %}{% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}"> {% endif %}
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">{% if page.thumb %}
    <meta name="twitter:image:src" content="{{ site.url }}/pictures{{ page.id }}/thumb.png">{% else %}
    <meta name="twitter:image:src" content="{{ site.url }}/pictures/github_icon.png">{% endif %}
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300%7CDroid+Sans+Mono%7CCrimson+Text:400,400i" rel="stylesheet">
    {% seo %}{% if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: "," }}">{% endif %}
  </head>
