  <head>
    <title>{% if page.title %}{{ page.title | escape }} &#47; {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Satoru Kawahara">
    <meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="{{ site.title }}">
    <meta name="twitter:creator" content="Satoru Kawahara"> {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}"> {% else %}
    <meta name="twitter:title" content="{{ site.title }}"> {% endif %}{% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}"> {% endif %}{% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}"> {% else %}
    <meta name="twitter:description" content="{{ site.description }}"> {% endif %}
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300|Droid+Sans+Mono|Crimson+Text:400,400i" rel="stylesheet">
  </head>
