/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  word-break: break-word;
  line-break: strict;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

html, body, .page-content, div.wrapper {
  height: 100%;
}

hr {
  border-top: none;
  border-bottom: solid 2px rgba(138, 138, 138, 0.35);
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "palt" 1;
  -moz-font-feature-settings: "palt" 1;
  -o-font-feature-settings: "palt" 1;
  font-feature-settings: "palt" 1;
  font-kerning: normal;

  // @include media-query($on-palm) {
    // font-size: $base-font-size * 0.8;
  // }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
blockquote,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: calc($spacing-unit / 2);
}

p {
  margin-bottom: calc($spacing-unit / 8);
}

h3, h4, h5, h6 {
  text-decoration: underline
}

h4,h5,h6 {
  &:before {
    content: "･";
  }
}



/**
 * Images
 */
img:not(.emoji) {
  max-width: 100%;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;

  // @include media-query($on-palm) {
    // font-size: $small-font-size * 0.8;
  // }
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

table {
  margin-bottom: 2rem;
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

article {
  height: 100%;

  > .post-content {
    > p {
      text-indent: 1rem;
      text-align: justify;
    }

    > p + p {
      margin-top: calc($spacing-unit / 2);
    }
  }

  header {
    background: $header-background-color;
    padding: 5pt 20pt 5pt 20pt;
  }

  .post-content[itemprop="articleBody"] {
    border-style: solid;
    border-color: rgba(138, 138, 138, 0.35);
    border-width: 2px;
    border-radius: 5px;
    padding: 5px $article-margin 30px $article-margin;

    margin-top: -10px;

    h1:not(:first-child) {
      border-bottom: solid 3px #eee;
      margin-top: 2rem;
    }

    h2:not(:first-child) {
      border-bottom: solid 2px #eee;
      margin-top: 2rem;
    }

    h3, h4, h5, h6 {
      :not(:first-child) {
        border-bottom: solid 1px #eee;
        margin-top: 1rem;
      }
    }

    @include media-query($on-palm) {
      padding: 5px 0 30px 0;
      border-style: none;;
    }
  }
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

.headerlink {
  &, &:link, &:visited, &:hover {
    color: $text-color;
  }
  &:hover {
    text-decoration: none;

    &:before {
      content: '📎 ';
      font-size: 0.8em;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: calc( $spacing-unit / 2 );
  font-size: $base-font-size;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }

  // @include media-query($on-palm) {
    // font-size: $base-font-size;
  // }
}



/**
 * Code formatting
 */

.highlight {
  background: #eef;
}

pre, code {
  // font-size: $base-font-size;
  border-radius: 3px;
  background: $pre-background;

  // @include media-query($on-palm) {
    // font-size: $base-font-size * 0.8;
  // }
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    margin: auto;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: calc($spacing-unit / 4);
    padding-left: calc($spacing-unit / 4);
  }
}



/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
 * Icons
 */
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}

/**
 * Footnote
 */
.footnotes {
  p {
    margin-bottom: 3pt;
  }
}
