@use "mixins";

// twitterwidget {
	// margin: 0 auto;
// }

.twitter-not-found {
	color: rgba(0, 0, 0, 0.4);
}

blockquote.twitter-tweet {
	font-size: $base-font-size * 0.9;
	color: $text-color;
	background: white;
	width: 60%;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	border: none;
	margin-top: 5px;
	text-align: left;

	@include mixins.media-query($on-laptop) {
		width: 80%;
	}

	@include mixins.media-query($on-palm) {
		width: 90%;
	}

	@include mixins.media-query($on-palm) {
		font-size: $base-font-size * 0.8;
	}
}

.twitter-tweet.twitter-tweet-rendered {
	max-width: 358px !important;
	margin: 10px auto;
}
