@use "variables" as *;
@use "mixins" as *;

.pagination.btn-group {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	background: $background-color-transp;
	border-top: 1px solid #e8e8e8;
	@include media-query($on-palm) {
		padding-bottom: 0;
	}
}
