.pagination.btn-group {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	background: $background-color-transp;
	padding-bottom: 1rem;
	border-top: 1px solid #e8e8e8;
	@include  media-query($on-palm) {
		padding-bottom: 0;
	}
}
