$nav-width: 70pt;
$nav-height: 69px;

.site-header {
	position: fixed;
	background: $background-color-transp;
	width: 100%;

	@include media-query($on-palm) {
		height: $nav-height;

		.site-title {
			margin-top: 8px;
		}
	}
}

@include media-query($on-palm) {
	.site-nav {
		background: (0, 0, 0, 0);
		border-radius: 0;

		& .trigger .page-link {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}

