$nav-height: 56px;
$nav-page-link-padding-h: 5px;

.site-header {
	border-bottom: 1px solid $grey-color-light;
	min-height: $nav-height;
	// position: fixed;
	background: $background-color-transp;
	width: 100%;
	z-index: 10;

	@include media-query($on-palm) {
		height: $nav-height;
	}
}

.site-title {
	font-size: 26px;

	@include media-query($on-palm) {
		font-size: 20px;
		margin-top: 4px;
	}

	font-weight: 300;
	line-height: $nav-height;
	letter-spacing: -1px;
	margin-bottom: 0;
	float: left;
	white-space: nowrap;

	&, &:visited {
		color: $grey-color-dark;
	}
}

.site-nav {
	float: right;
	line-height: $nav-height;

	.menu-icon {
		display: none;
	}

	.page-link {
		color: $text-color;
		line-height: $base-line-height;

		// Gaps between nav items, but not on the last one
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	@include media-query($on-palm) {
		font-size: $base-font-size * 0.6;

		position: absolute;
		right: 0;
		background: $background-color-transp;
		border-left: 1px solid $grey-color-light;
		border-bottom: 1px solid $grey-color-light;
		text-align: right;
		transition: .3s ease-in-out;
		// バーの高さ + (nav-page-link-padding-h * ((上1+下1) * 要素数 - (上1下1)))
		transform: translateY(calc(-1 * (#{$nav-height} + #{$nav-page-link-padding-h} * 4)));

		&:active, &:hover {
			transform: translateY(0px);
		}

		&:after {
			font-size: $base-font-size * 1.2;
			text-align: center;
			content: "≡";
			display: block;
			top: 0;
		}

		.page-link {
			display: block;
			padding: $nav-page-link-padding-h 10px;
			margin-left: 10px;
			margin-right: 10px;

			&:not(:last-child) {
				margin-right: 0;
			}
		}
	}
}

.tags > .tag {
	font-size: $base-font-size - 5;
	border-radius: 2px;
	padding: 2px 1px 0 1px;
	background: #aaaaaa5e;
}

