/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;

    & .src {
      margin-left: 3px;
      margin-bottom: 3px;
    }
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h2 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h3 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

div.twicard {
  $twicard-txt: 340px;
  $twicard-img: 135px;
  $twicard-height: 135px;

  border: solid 0px;
  border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
  width: 500px;
  height: $twicard-height;
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;

  & > .image {
    & > a > div {
      position:relative;

      vertical-align: top;

      & > img {
        margin-top: 0px;
        margin-bottom: 0px;
        height: $twicard-height;
        min-width: 100%;
        object-fit: cover;
        border-radius: 5px 0px 0px 5px / 5px 0px 0px 5px;
      }
    }

    width: $twicard-img;
    display: inline-block;
    vertical-align: middle;
  }

  & > .txt {
    & > .title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;

      font-weight: bold;
      margin-bottom: 5px;
    }

    & > .description {
      width: 100%;
      max-height: 100px;
      overflow: hidden !important;

      font-size: smaller;
    }

    vertical-align: top;
    width: $twicard-txt;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: 125px;
  }

  & > span {
    display: inline-block;
  }

  @include media-query($on-palm) {
    $twicard-mini-height: 100px;

    width: 100%;
    height: $twicard-mini-height;

    & > .image {
      width: 20%;

      & > a > div > img {
        max-height: $twicard-mini-height;
      }
    }

    & > .txt {
      width: 75%;

      & > .title {
        margin-bottom: 3px;
      }

      & > .description {
        max-height: 70px;
      }
    }
  }
}
