/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h2 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h3 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

div.twicard {
  border: solid 0px;
  border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
  width: 500px;
  height: 135px;
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 10px;
  padding-top: 8px;
  padding-bottom: 3px;

  & > .image {
    & > a > div {
      position:relative;

      & > img {
        position: absolute;
        top: 50%;
        left: 25%;
        -ms-transform: translate(-25%);
        -webkit-transform : translate(-25%);
        transform : translate(-25%);;
        margin-top: 0px;
        margin-bottom: 0px;
        max-width: 120px;
        max-height: 120px;
      }
    }

    width: 120px;
    display: inline-block;
    vertical-align: middle;
  }

  & > .txt {
    & > .title {
      width: 350px;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;

      font-weight: bold;
      margin-bottom: 5px;
    }

    & > .description {
      width: 350px;
      max-height: 100px;
      overflow: hidden !important;

      font-size: smaller;
    }

    vertical-align: top;
    width: 350px;
    margin-left: 5px;
    max-height: 125px;
  }

  & > span {
    display: inline-block;
  }
}
